body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    padding: 20px;
}
form {
    text-align: center;
    margin: 20px;
}
input[type="file"] {
    display: none;
}
label {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#result {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: left;
}

.custom-upload-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
}

.success-notification {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
