body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 24px;
    color: #007BFF;
}

form {
    text-align: center;
    margin: 20px;
}

label {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
}

input[type="file"] {
    display: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#result {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: left;
    max-width: 800px; /* Lebar maksimum tampilan hasil */
    border-radius: 8px; /* Sudut bulat */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan */
}

.file-upload-notification {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 4px;
    max-width: 400px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}




.custom-upload-button:hover {
    background-color: #0056b3;
}
